<li>
    <p>
        <% if(locals.user && (locals.user.id == comment.user.id || locals.user.id == post.user.id)){ %> 
            <small>
                <a href="/comments/destroy/?id=<%= comment.id %>&userID=<%= post.user.id %>">X</a>
            </small>
        <% } %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
        <br>
        <span><%= comment.likes.length %> Likes</span>
        <a href="">Like</a>
    </p>
</li>