<link rel="stylesheet" href="<%= assetPath('css/home.css')%>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css')%>">
<div id="home-container">
    <% if(!locals.user){%>
        <div class="sign-form">
            <div id="sign-up">
                <%- include('signup'); -%>
            </div>
            <div id="sign-in">
                <%- include('sign_in'); -%>
            </div>
        </div>
    <% } %>
    <% if(locals.user){ %>
        <section id="feed-posts">
            <h4>Posts</h4>
            <form id="newPostForm" action="/posts/create" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
            </form>
            <div id="show-posts">
                <!-- <h3>Posts Published</h3> -->
                <ul>
                    <% for(post of posts){ %>
                        <!-- Posts published on the wall -->
                        <%- include('_posts'); -%>
                    <% } %>
                </ul>
            </div>
        </section>
    <% } %>
    <!-- Friends Sections -->
    <% if(locals.user){ %>
        <section id="friend-list">
            <h3>Friends</h3>
            <div class="friends">
                <% for (u of all_users){ %>
                    <% if(locals.user && !(u.id == locals.user.id)){ %> 
                        <a href="/user/profile/<%= u.id %>"><%= u.name %></a>
                    <% } %>
                <% } %>
            </div>
        </section>
    <% } %> 
    <%- include('chatbox'); -%>
</div>   

<script src="<%= assetPath('js/homeposts.js')%>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="<%= assetPath('js/chat_engine.js')%>"></script>
<% if(locals.user){%>
    <script>
        new chatEngine('user-chatbox', '<%= locals.user.email %>')
    </script>
<%} %>
