<h1>Profile Page</h1>
<% if(locals.user.id == user_pro.id){%> 
    <img src="<%= user.avatar %>" alt="<%= locals.user.name %>" width="100px">
    <form action="/user/update/<%= user_pro.id %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter Name" value="<%= user_pro.name %>" required>
        <input type="email" name="email" placeholder="Enter Email" value="<%= user_pro.email %>" required>
        <input type="file" name="avatar">
        <input type="submit" value="Update">
    </form>

<% }else{ %> 
    <p><%= user_pro.name %></p>
    <p><%= user_pro.email %></p>  
<% } %>
